@page "/About"

<div class="card">
    
    <h3 class="form-group">Thank you Chat - you are our lord and saviour!</h3>
    <img class="form-group" src="https://ares.decipherzone.com/blog-manager/uploads/ckeditor_Chat%20Gpt%20Memes%2015.png" alt="Funny Picture"/>
</div>
  



@code {
    
}